@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');




* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #13747d;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#display {
    text-align: center;
}
h1 {
    text-align: center;
    margin-top: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
    color: #fcf7c5;
    text-shadow: 0.2rem 0.2rem 0.2rem #29221f;
   
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--cor-quintenaria);  /* Cor do texto no rodapé */
    font-family: var(--fonte-secundaria);  /* Fonte no rodapé */
     /* Espaçamento superior para o rodapé */
}


table {
    border: 0.35rem solid #29221f;
    background-color: #fc354c;
    border-radius: 0.6rem;
    margin-top: 1rem;
    width: 5rem;
}

td {
    padding: 0.150rem;
    
}

input {
    width: 99%;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: aliceblue;
    border: 0.1rem solid black;
}

button {
    color: azure ;
    text-shadow: 0.125rem 0.125rem 0.125rem #29221f;
    background: linear-gradient(to right, #fc354c, #fcf7c5);
    width: 3rem;
    height: 2.5rem;
    margin: 0.25rem 0;
    border: 0.18rem solid black;
    border-radius: 0.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
